        body {
            margin: 0;
            padding: 0;
        }
        
        .header {
            background-image: url(banner.jpeg);
            height: 50rem;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
        }
        
        .hamburger {
            width: 24px;
            margin-bottom: 20rem;
            margin-top: 2rem;
        }
        /* header-aboout section  */
        
        .container {
            display: flex;
            width: 60%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .header-about p {
            font-size: 3rem;
            font-family: cursive;
            color: #fff;
        }
        
        .para-high {
            width: 30rem;
            background-color: white;
            padding: 1.5rem;
        }
        /* about ends */
        /* write section begins */
        
        .write-container {
            background-color: rgb(194, 135, 146);
            width: 100%;
            padding: 3rem;
        }
        
        .write {
            width: 50%;
            text-align: justify;
            margin: 0 auto;
        }
        
        .write-h {
            font-size: 1rem;
        }
        
        .write-p {
            width: 30rem;
        }
        /* Write section ends */
        /* Gallery section begins */
        
        .gallery {
            display: flex;
            flex-direction: column;
        }
        
        .top {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        
        .down {
            display: flex;
            flex-wrap: wrap;
        }
        
        .gallery img {
            width: 28rem;
            height: 20rem;
        }
        /* Gallery ends */
        /* Coming section begins */
        
        .contain-coming {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 3rem;
        }
        
        .coming {
            width: 100%;
            background-color: rgb(194, 135, 146);
        }
        
        .coming h2 {
            font-family: cursive;
            font-size: 2.5rem;
            color: #fff;
        }
        
        .coming p {
            color: #fff;
        }
        
        .coming input {
            padding: 0.5rem;
            border-radius: 12px;
            border: 0px;
            width: 10rem;
        }
        
        .coming button {
            background-color: black;
            color: #fff;
            border: 0px;
            padding: 8px 20px;
            border-radius: 12px;
        }
        /* Coming Ends */
        /* Article Begins */
        
        .article {
            display: flex;
            flex-wrap: wrap;
            padding: 2rem;
            width: 80%;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
        }
        
        .article-img {}
        
        .article img {
            width: 25rem;
            height: 25rem;
        }
        
        .article-text {
            width: 30rem;
        }
        /* Article Ends */
        /* Collection begins */
        
        .collection {
            width: 100%;
            background-color: rgb(194, 135, 146);
            padding-bottom: 3rem;
        }
        
        .collection h3 {
            font-size: 1.6rem;
            text-align: center;
            padding-top: 2rem;
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
        }
        
        .img-container {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin: 0 auto;
            align-items: center;
        }
        
        .img-container img {
            width: 12rem;
            height: 15rem;
        }
        
        .arrow {
            display: flex;
            align-items: center;
            width: 10%;
            margin: 1em auto;
        }
        
        .arrow img {
            width: 24px;
        }
        
        .sell {
            display: flex;
            width: 90%;
            margin: 0 auto;
            align-items: center;
            padding: 3rem;
            justify-content: space-evenly;
        }
        
        .sell-img {
            display: flex;
            justify-content: space-between;
        }
        
        .sell-img img {
            width: 12em;
            height: 15em;
            margin-right: 1em;
        }
        
        .sell-price {
            width: ;
        }
        
        .sample,
        .pricetag {
            font-weight: 600;
        }
        
        .desc {
            width: 20rem;
        }
        
        .sell button {
            background-color: black;
            color: #fff;
            border: 0px;
            padding: 8px 20px;
            border-radius: 12px;
        }
        
        .foot-container {
            display: flex;
            width: 95%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
        
        .foot-img img {
            width: 40rem;
            height: 30rem;
        }
        
        .highlight {
            display: block;
            height: 5px;
            width: 30rem;
            background-color: rgb(194, 135, 146);
        }
        
        .subscribe {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
        }
        
        .subscribe h3 {
            font-size: 32px;
            padding: 0px;
        }
        
        .subscribe input {
            padding: 0.5rem;
            width: 10rem;
        }
        
        .subscribe .button {
            width: 5rem;
            margin: 1rem auto;
            background-color: black;
            color: #fff;
            border: 0px;
            padding: 8px 20px;
            border-radius: 12px;
        }
        
        .foot-text {
            width: 15rem;
            text-align: center;
            margin: 0 auto;
        }
        
        .img-foot img {
            width: 24px;
            margin: 1rem;
        }
